@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: #131515;
}

/* headings and logo */

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #131515;
}

h2 {
  /* font-size: 44px; */
  color: #263246;
  margin-bottom: 34px;
  margin-top: 5px;
}

q {
  color: #74a892;
}

cite {
  margin-top: 5px;
  margin-bottom: 30px;
}

p {
  line-height: 26px;
  margin: 10px 0 15px 0;
  text-align: left;
}

#logo {
  float: left;
  font-size: 230%;
  margin-left: 30px;
}

/* navigaton links */
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  float: right;
}

#menu,
#logo {
  line-height: 75px;
}

#menu li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

#menu a:hover {
  background-color: #74a892;
  color: #fff;
  border-radius: 5px;
}

/* hero image and cover text*/

#hero-outer {
  height: 800px;
  width: 100%;
  overflow: hidden;

  position: relative;
}

#cover-text,
#cover-text h2 {
  color: #fff;
}
#hero-image {
  height: 800px;
  width: 100%;
  background: url('../images/hero.jpg') no-repeat center center;
  background-size: cover;
}

#cover-text {
  font-size: 130%;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 400px;
  height: 200px;
  padding-top: 80px;
  padding-left: 10px;

  background-color: rgba(0, 109, 107, 0.5);

  top: 35%;
  left: 150px;

  position: absolute;
}

/* about section */
#about {
  max-width: 75%;
  padding: 10px 12.5%;
}
#about-pic {
  float: left;
  width: 50%;
  margin-right: -20px;
  padding-right: 20px;
}

#about-pic-item {
  height: 620px;
  width: calc(50% - 20px);
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

#about-content {
}
