@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: #131515;
}

section::after {
  content: '';
  display: table;
  clear: both;
}

/* headings and logo */

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #131515;
}

h2 {
  font-size: 34px;
  color: #263246;
  margin-bottom: 34px;
  margin-top: 5px;
}

q {
  color: #74a892;
}

cite {
  margin-top: 5px;
  margin-bottom: 30px;
}

p {
  line-height: 26px;
  margin: 10px 0 15px 0;
  text-align: left;
}

#logo {
  font-size: 230%;
  margin-left: 30px;
}

header a {
  text-decoration: none;
}

/* navigaton links */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 -20px 30px #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

#menu,
#logo {
  line-height: 75px;
}

#menu li {
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

#menu a:hover {
  background-color: #74a892;
  color: #fff;
  border-radius: 5px;
}

/* hero image and cover text*/

#hero-outer {
  height: 800px;
  width: 100%;
  overflow: hidden;

  position: relative;
}

#cover-text,
#cover-text h2 {
  color: #fff;
}

#hero-image {
  height: 800px;
  width: 100%;
  background: url('../images/hero.jpg') no-repeat center center;
  background-size: cover;
}

#cover-text {
  font-size: 130%;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 420px;
  height: 200px;
  padding-top: 80px;
  padding-left: 10px;

  background-color: rgba(0, 109, 107, 0.5);

  top: 35%;
  left: 150px;

  position: absolute;
}

/* about section */

#about {
  padding: 50px 12.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#about-pic {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-pic-item {
  margin-right: 20px;
}

.inner img:last-of-type {
  margin-top: 15px;
}

#about-content {
}

/* gallery section */

#gallery {
  padding: 50px 0;
  text-align: center;
}

#gallery p {
  text-align: center;
}

#gallery-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery-pic {
  margin-top: -5px;
}

.gallery-pic img {
  max-width: 100%;
}

/* instructors section */

#instructors {
  padding: 50px 12.5%;
  text-align: center;
}

.instructor-column {
  max-width: 270px;
}

#instructors img {
  width: 100%;
}

#instructor-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

#instructors h3 {
  margin-bottom: 10px;
}

/* contact section */

#contact {
  max-width: 75%;
  padding: 50px 12.5%;
  text-align: center;
  color: #fff;
}

form {
  background: #74a892;
  padding: 60px 100px;
}
input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  padding-left: 28px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  font-size: 16px;
  color: #ffffff;
  padding-left: 28px;
  padding-top: 15px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  margin-bottom: 34px;
}

button {
  font-size: 14px;
  color: #74a892;
  text-transform: uppercase;
  display: inline-block;
  background: #ffffff;
  padding: 14px 35px 12px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  letter-spacing: 2px;
}

#contact-info {
  color: #131515;
  width: 40%;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px dashed #74a892;
}

/* map */
#map {
  padding: 50px 12.5%;
  height: 600px;
}

/* footer */

footer {
  padding: 2em 4em 0;
  background-color: #666c83;
  color: #fff;
}
#footer-container {
  padding: 20px 0;
}

#footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer h3 {
  margin-bottom: 25px;
}

footer ul {
  list-style: none;
}

footer li {
  font-size: 16px;
  line-height: 27px;
  text-align: left;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  border-bottom: 1px solid;
}

#footer-copyright {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid rgba(225, 225, 225, 0.1);
}

#footer-copyright-text {
  text-align: left;
}

#footer-copyright-socials {
  text-align: right;
}

#footer-copyright-socials a {
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  margin-right: 25px;
}

#footer-copyright-socials a:last-child {
  margin-right: 0;
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */

  header {
    grid-template-columns: 1fr;
  }

  #cover-text {
    top: 50%;
    left: 10px;
    font-size: 80%;
    width: 290px;
  }

  #cover-text h2 {
    font-size: 150%;
  }

  #menu {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #logo {
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  #menu,
  #logo {
    line-height: 45px;
  }

  h1 {
    text-align: center;
  }

  #about {
    grid-template-columns: 1fr;
    padding: 20px 2%;
  }

  #about-pic {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-pic-item {
    margin-right: 0;
  }

  #about h2 {
    text-align: center;
  }

  #gallery-images {
    grid-template-columns: 1fr;
    padding: 0 4%;
  }

  #instructor-images {
    grid-template-columns: unset;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 20px;
  }

  #footer-content {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  footer li {
    text-align: center;
  }

  #footer-copyright {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }

  #footer-copyright-text,
  #footer-copyright-socials {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  header {
    grid-template-columns: 1fr;
  }

  #cover-text {
    top: 50%;
    left: 10px;
    font-size: 80%;
    width: 290px;
  }

  #cover-text h2 {
    font-size: 150%;
  }

  #menu {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #logo {
    grid-template-columns: 1fr;
    margin-left: 0;
  }

  #menu,
  #logo {
    line-height: 45px;
  }

  h1 {
    text-align: center;
  }

  #about {
    grid-template-columns: 1fr;
    padding: 20px 2%;
  }

  #about-pic {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-pic-item {
    margin-right: 0;
  }

  #about h2 {
    text-align: center;
  }

  #gallery-images {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 4%;
  }

  #instructor-images {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  #footer-content {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  footer li {
    text-align: center;
  }

  #footer-copyright {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }

  #footer-copyright-text,
  #footer-copyright-socials {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
  header {
    grid-template-columns: 1fr;
  }

  #menu,
  #logo {
    line-height: 45px;
  }

  h1 {
    text-align: center;
  }

  #about {
    grid-template-columns: min-content;
    justify-content: center;
    padding-bottom: 20px;
  }

  #gallery-images {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 4%;
  }

  #instructor-images {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
  #about {
    padding: 50px 5%;
  }
}

@media (min-width: 1201px) {
  /* CSS rules for extra large screens and TVs */
}
